In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd # для отображения

# 1. Векторизация

In [3]:
tf = TfidfVectorizer(min_df=2) # Объект с помощью которого мы проведём векторизацию

# запросы
pharses = [
    'купить книги в махачкале',
    'книги в махачкале магазин',
    'Заказать такси в махачкале',
    'такси анжи в махачкале и в москве',
]

X = tf.fit_transform(pharses)
data = pd.DataFrame(data=X.toarray(), columns=tf.get_feature_names(), index=pharses)

In [4]:
data

                                      книги  махачкале     такси
купить книги в махачкале           0.833884   0.551939  0.000000
книги в махачкале магазин          0.833884   0.551939  0.000000
Заказать такси в махачкале         0.000000   0.551939  0.833884
такси анжи в махачкале и в москве  0.000000   0.551939  0.833884

# Кластеризация

In [5]:
from sklearn.cluster import KMeans
import numpy as np

In [6]:
kmeans = KMeans(n_clusters=2, 
                n_init=10, 
                max_iter=300, 
                tol=0.0001, 
                n_jobs=4
               )
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=4, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [7]:
dct = dict()
for key, label in zip(pharses, kmeans.labels_):
    dct[label] = dct.get(label, []) + [key]

<hr>
Ниже мы имеем два кластера.
<hr>

In [8]:
dct

{0: ['Заказать такси в махачкале', 'такси анжи в махачкале и в москве'],
 1: ['купить книги в махачкале', 'книги в махачкале магазин']}