In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd # для отображения

# 1. Векторизация

In [10]:
tf = TfidfVectorizer(min_df=2) # Объект с помощью которого мы проведём векторизацию

# запросы
pharses = [
    'купить книги в махачкале',
    'книги в махачкале магазин',
    'Заказать такси',
    'такси анжи в городе Грозный',
]

X = tf.fit_transform(pharses)
data = pd.DataFrame(data=X.toarray(), columns=tf.get_feature_names(), index=pharses)

In [11]:
data

                                книги  махачкале  такси
купить книги в махачкале     0.707107   0.707107    0.0
книги в махачкале магазин    0.707107   0.707107    0.0
Заказать такси               0.000000   0.000000    1.0
такси анжи в городе Грозный  0.000000   0.000000    1.0

# Кластеризация

In [12]:
from sklearn.cluster import KMeans
import numpy as np

In [13]:
kmeans = KMeans(n_clusters=2, 
                n_init=10, 
                max_iter=300, 
                tol=0.0001, 
                n_jobs=4
               )
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=4, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [14]:
dct = dict()
for key, label in zip(pharses, kmeans.labels_):
    dct[label] = dct.get(label, []) + [key]

<hr>
Ниже мы имеем два кластера.
<hr>

In [15]:
dct

{0: ['Заказать такси', 'такси анжи в городе Грозный'],
 1: ['купить книги в махачкале', 'книги в махачкале магазин']}