In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd # для отображения

# 1. Векторизация

In [34]:
tf = TfidfVectorizer(min_df=2) # Объект с помощью которого мы проведём векторизацию

# запросы
pharses = [
    'купить книги в махачкале',
    'книги в махачкале магазин',
    'библиотека в махачкале',
    'магазин книг в махачкале',
]

X = tf.fit_transform(pharses)
data = pd.DataFrame(data=X.toarray(), columns=tf.get_feature_names(), index=pharses)

In [35]:
data

                              книги   магазин  махачкале
купить книги в махачкале   0.833884  0.000000   0.551939
книги в махачкале магазин  0.640434  0.640434   0.423897
библиотека в махачкале     0.000000  0.000000   1.000000
магазин книг в махачкале   0.000000  0.833884   0.551939

# Кластеризация

In [36]:
from sklearn.cluster import KMeans
import numpy as np

In [37]:
kmeans = KMeans(n_clusters=2, 
                n_init=10, 
                max_iter=300, 
                tol=0.0001, 
                n_jobs=4
               )
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=4, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [38]:
dct = dict()
for key, label in zip(pharses, kmeans.labels_):
    dct[label] = dct.get(label, []) + [key]

<hr>
Ниже мы имеем два кластера.
<hr>

In [39]:
dct

{0: ['купить книги в махачкале', 'книги в махачкале магазин'],
 1: ['библиотека в махачкале', 'магазин книг в махачкале']}